@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #1f1f38;
  color: #ffffff;
  background-image: url('../src//assets/bg-texture.png');
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}
a {
  color: #4db5ff;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}
.container {
  width: 40%;
  padding-bottom: 5rem;
}
.article {
  background-color: #2c2c6c;
  text-align: center;
  border-radius: 2rem;
  user-select: none;
  padding: 2rem;
}
small {
  display: block;
  font-weight: 300;
  color: #cccc;
  width: 80%;
  margin: 0.8rem auto 0;
}
.Image{
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 0.4rem solid #45db55;
}
@media (min-width: 900px) {
  .container {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
